nav {
   background-color: #000;
   padding: 1.4rem;
   position: sticky;
   top: 0;
   border-bottom: #535252 .7px solid;
}
nav .logo {
   color: #fff;
   font-size: 1.4rem;
}
#nav-cont {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.btn {
   text-decoration: none;
}
.btn-primary {
   color: #fff;
   background-color: #3d5af1;
   padding: .4em .8em;
   border-radius: .1em;
}